.cards > ul {
    /**
   * User input values.
   */
   --grid-layout-gap: 16px;
   --grid-column-count: 4;
   --grid-item-min-width: 200px;
 
   /**
    * Calculated values.
    */
   --gap-count: calc(var(--grid-column-count) - 1);
   --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
   --grid-item-max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-item-min-width), var(--grid-item-max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
}

.cards > ul > li {
  position: relative;
}

.cards .cards-card-body {
  z-index: 1;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0 0 0 / 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards .cards-card-body a:any-link {
  color: var(--background-color);
}