.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
  place-items: center;
}

.cards > ul > li {
  position: relative;
}

.cards .cards-card-body {
  z-index: 1;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(0 0 0 / 50%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.cards .cards-card-body a:any-link {
  color: var(--background-color);
}