.video {
  position: relative;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video .video-video {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.video .video-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video .video-content-overlay {
  background-color: rgba(0 0 0 / 15%);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.video .video-content-overlay a.shop-link {
  display: block;
  width: 100%;
  height: 100%;
}

.video .video-content-overlay .video-control {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: url(https://storage.googleapis.com/assets.mcomnyapps.net/snippet/2023-09-18/images/button-play.svg?authuser=0);
  background-repeat: no-repeat;
}

.video .video-content-overlay .video-control.playing {
  background: url(https://storage.googleapis.com/assets.mcomnyapps.net/snippet/2023-09-18/images/button-pause.svg?authuser=0);
  background-repeat: no-repeat;
}

.video .video-content {
  padding-inline: 2rem;
  color: var(--background-color);
  text-align: center;
  z-index: 2;
}

.video .video-content h2 {
  margin-block: 0 .25em;
  font-family: var(--fancy-heading-font-family);
  font-size: var(--heading-font-size-xxl);
}

.video .video-content h2:first-child {
  font-size: var(--heading-font-size-s);
}

.video .video-content a {
  color: var(--background-color);
}