header .header p {
  margin: 0;
  line-height: 1;
}

header .header a:any-link {
  color: currentcolor;
}

header .header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
}

header .header nav {
  box-sizing: border-box;
  margin: auto;
  max-width: var(--max-content-width);
  height: var(--nav-height);
  padding: 0 1rem;
  font-family: var(--body-font-family);
}

@media (width >= 600px) {
  header .header nav {
    padding: 0 2rem;
  }
}

/* hamburger */
header .header nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
}

header .header nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  background-color: var(--background-color);
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
}

header .header nav .nav-hamburger-icon,
header .header nav .nav-hamburger-icon::before,
header .header nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header .header nav .nav-hamburger-icon::before,
header .header nav .nav-hamburger-icon::after {
  content: '';
  position: absolute;
  background: currentcolor;
}

header .header nav[aria-expanded="false"] .nav-hamburger-icon,
header .header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header .header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  border-radius: 2px;
  background: currentcolor;
}

header .header nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header .header nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header .header nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header .header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header .header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
  border-radius: 2px;
}

header .header nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}

@media (width >= 900px) {
  header .header nav .nav-hamburger {
    display: none;
  }
}

/* sections */
header nav .sections {
  grid-area: sections;
  flex: 1 1 auto;
  display: none;
  visibility: hidden;
  background-color: var(--overlay-color);
}