.banner > div {
  display: flex;
  flex-direction: column;
  margin-block-end: 2rem;
}

.banner .banner-content {
  order: 2;
  padding-inline: 1rem;
  align-content: center;
}

.banner .banner-image {
  order: 1;
  position: relative;
  aspect-ratio: 16 / 9;
}

.banner .banner-image picture {
  position: absolute;
  inset: 0;
}

.banner .banner-image picture > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (width >= 600px) {
  .banner > div {
    flex-direction: row;
  }

  .banner .banner-content {
    order: unset;
    flex: 1 1 250px;
  }

  .banner .banner-image {
    order: unset;
    flex: 1 1 700px;
  }
}