@import url('../header-mobile/header-shared.css');

.header-desktop p {
  margin: 0;
}

.header-desktop {
  display: grid;
  font-size: 12px;
}

.header-desktop .header-upper,
.header-desktop .desktop-nav {
  padding-inline: 1.25rem;
  border-bottom: 1px solid #d6d6d6;
  display: flex;
  align-items: center;
  position: relative;
}

.header-desktop .header-upper {
  height: 42px;
}

.header-desktop .header-width-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  margin-inline: auto;
  max-width: var(--max-content-width);
}

.header-desktop .nav-drop-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.header-desktop .menu-toggler {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  height: 20px;
  width: 2rem;
  position: relative;
}

.header-desktop .menu-toggler::after {
  content: "";
  background: url('/icons/chevron-right.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  rotate: 90deg;
  width: 16px;
  height: 16px;
}

.header-desktop .menu-toggler[aria-expanded="true"]::after {
  rotate: -90deg;
}

.header-desktop .nav-drop .sub-menu {
  display: none;
  position: absolute;
  top: calc(100% + 1px);
  background: var(--background-color);
  z-index: 10;
  overflow: clip;
  border-radius: 0 0 8px 8px;
}

.header-desktop .nav-drop.active .sub-menu {
  display: block;
}

/* utility */
.header-desktop .section.utility .utility-nav-list {
  flex-direction: row;
  list-style: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 2rem;
}

.header-desktop .section.utility .utility-nav-list > li:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 16px;
  background-color: #d6d6d6;
  pointer-events: none;
  position: relative;
  right: -16px;
  top: 0;
  bottom: 0;  
}

.header-desktop .section.utility .utility-nav-list .icon-user {
  --icon-size: 16px;
}

.header-desktop .section.utility .sub-menu {
  width: 250px;
}

.header-desktop .section.utility .util-sub-menu,
.header-desktop .section.utility .util-sub-menu + ul {
  padding-inline: 2rem;
}

.header-desktop .section.utility .util-sub-menu + ul {
  background-color: #f8f8f8;
}

/* nav */
.header-desktop .desktop-nav .header-width-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr calc(50% - 12px) 1fr;
  grid-template-rows: auto auto;
  row-gap: .5rem;
  padding-block-start: .75rem;
}

.header-desktop .desktop-nav .header-width-container .section {
  grid-row: 1;
}

/* tools */ 
.header-desktop .section.tools {
  justify-self: flex-end;
}

/* stylelint-disable-next-line no-descending-specificity */
.header-desktop .section.tools ul {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* nav sections */
.header-desktop .desktop-nav .header-width-container .section.sections {
  grid-row: 2;
  grid-column: 1 / -1;
}

.header-desktop .desktop-nav .section.sections .primary-nav-list {
  flex-direction: row;
  gap: unset;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.header-desktop .desktop-nav .section.sections .nav-menu-inner > ul {
  padding: 0;
}

.header-desktop .desktop-nav .section.sections a:hover {
  text-decoration: underline;
}

.header-desktop .desktop-nav .section.sections * {
  line-height: 20px;
}

.header-desktop .desktop-nav .section.sections .nav-drop-header {
  position: relative;
  padding-block: 1rem 14px;
}

.header-desktop .desktop-nav .section.sections .nav-drop-header a {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.header-desktop .desktop-nav .section.sections .nav-drop-header .menu-toggler {
  position: absolute;
  bottom: 0;
  height: 14px;
  width: 14px;
  opacity: 0;
}

.header-desktop .desktop-nav .section.sections .nav-drop-header .menu-toggler:focus {
  opacity: 1;
}

.header-desktop .desktop-nav .section.sections .nav-drop-header .menu-toggler::after {
  height: 14px;
  width: 14px;
}

.header-desktop .desktop-nav .section.sections .nav-drop.active .nav-drop-header {
  border-bottom: 2px solid black;
}

.header-desktop .desktop-nav .section.sections .sub-menu {
  left: 0;
  right: 0;
}

.header-desktop .desktop-nav .section.sections .sub-menu .nav-menu-inner > ul .fragment-wrapper {
  display: grid;
  grid-auto-columns: minmax(0, 1fr);
  width: 100%;
  padding: 2rem 3.375rem;
  gap: 3rem;
}

.header-desktop .desktop-nav .section.sections .sub-menu .nav-menu-inner .fragment-wrapper ul {
  flex-direction: column;
  gap: 12px;
  padding-block: 12px;
}

.header-desktop .nav-curtain.show {
  opacity: 1;
  visibility: visible;
}

.header-desktop .nav-curtain.upper {
  top: 42px;
}