.catsplash h1 {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size-l);
}

.catsplash main.grid .section {
  padding-block: 16px;
}

.catsplash main.grid > .section:not(.left-nav) .default-content-wrapper :where(h1, h2, h3, h4, h5, h6) {
  text-align: center;
  font-family: var(--fancy-heading-font-family);
}

@media (width >= 900px) {
  .catsplash main.grid {
    display: grid;
    grid-template-columns: minmax(250px, 325px) minmax(66%, auto);
    grid-template-rows: var(--row-count, 1);
    gap: 1rem;
    max-width: var(--max-content-width);
    margin: auto;
  }

  .catsplash main.grid > .section {
    grid-column: 2;
  }

  .catsplash main.grid > .section.left-nav {
    grid-row: 1 / -1;
    grid-column: 1;
    padding-inline-end: 0;
  }

  .catsplash main.grid > div {
    min-width: 0;
  }

  .catsplash main.grid .section > div {
    max-width: calc(var(--max-content-width) - 300px - 1rem);
  }

  .catsplash main.grid .section {
    padding-block: 32px;
  }
}