@font-face {
  font-family: "Macys Sans";
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/MacysSansLt.woff2') format("woff2");
}

@font-face {
  font-family: "Macys Sans";
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/MacysSans.woff2') format("woff2");
}

@font-face {
  font-family: "Macys Sans";
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/MacysSansMd.woff2') format("woff2");
}

@font-face {
  font-family: "Macys Sans";
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/MacysSansBd.woff2') format("woff2");
}

@font-face {
  font-family: "Macys Sans";
  font-weight: 800;
  font-display: swap;
  src: url('../fonts/MacysSansXBd.woff2') format("woff2");
}

@font-face {
  font-family: TT-Ramillas;
  font-display: swap;
  src: url('../fonts/TT-Ramillas.woff2') format("woff2");
  font-weight: 400;
}